<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Ad</h1>

      <ul class="list-group">
        <% ad.forEach((ad) => { %>
          <li class="list-group-item">
            <a href="/ad/<%= ad.id %>"> <%= ad.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
